# Webhook секрет (используется для проверки подлинности запроса от GitHub)
GITHUB_WEBHOOK_SECRET=your_super_secret_key

# Директория, находится весь ваш основной код (например, public_html)
PATH_TO_REPO_DIR=/home/youruser/public_html

# URL GitHub-репозитория. Пример для HTTPS с токеном доступа:
# https://username:token@github.com/username/repo.git
REMOTE_URL_REPO=https://your_username:your_token@github.com/your_username/your_repo.git

# Ветка, из которой нужно тянуть код
NAME_OF_BRANCH=master
